body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #483D8B;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;  
  align-items: center;  
  flex-direction: column;  
  min-height: 100vh;  
}

.main-content {
  max-width: 1000px;
  margin: auto;
  text-align: center;  
}

header, footer {
  text-align: center;  
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 20px;  
  height: 50px;
  flex-wrap: wrap;  
}

nav a {
  position: relative;
  cursor: pointer;
  color: #efefee;
  font-size: 18px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: blueviolet;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: black;
  background-color: darkviolet;
}

p {
  font-size: 25px;
  color: white;
  text-align: center;  
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;  
  gap: 10px;
  flex-wrap: wrap;
}

.header {
  padding: 10px 20px;
  text-align: center; 
  background-image: url(header.jpeg);
  background-position: center;
  background-color: #444;
  color: white;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.header img {
  height: 60px;
  max-width: 100px;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.shrunken .header {
  padding: 5px 15px;
  background-color: #222;
}

.shrunken .header img {
  height: 50px;
  max-width: 80px;
}

.shrunken nav a {
  padding: 5px 10px;
}

.column {
  flex: 1;
  min-width: 150px;
  padding: 5px;
  text-align: center;
}

.column img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.header img, .sofia-image {
  display: block;   
  margin: 0 auto; 
}

@media screen and (max-width: 599px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 5px;
  }

  header {
    font-size: 18px;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
  }

  nav a {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .header img {
    height: 50px;
    max-width: 80px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 90%;
  }

  header {
    font-size: 22px;
  }

  nav {
    justify-content: space-around;
  }

  nav a {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  .container {
    width: 80%;
  }

  header {
    font-size: 24px;
  }
}
